@model S00132671CA2.Models.CastList

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>CastList</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CastName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
